h2 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
}

 {
  color: orange;
}

#box {
  background-color: red;
  padding: 25px 50px 75px 500px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;


}

h1 {
  font-size: 50px;
  font-style: normal;
  color: silver;
}

h3 {
  font-size: 50px;
  font-style: normal;
  color: silver;
}

body {
  background-image: url("http://i.imgur.com/9UGNi1z.jpg")
}
